@model List<ManagementAsp.Models.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Danh mục</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Danh mục</li>
        </ol>

        <div class="card mb-4">
            <div class="card-header">
                @if (ViewBag.Msg != null)
                {
                    if (ViewBag.Msg == "1")
                    {
                        <div class="alert alert-success">
                            <strong>Thành công</strong>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <strong>Danh mục đã tồn tại</strong>
                        </div>
                    }

                }
                <a class="btn btn-success" href="/Order/Add">
                    Thêm hóa đơn
                </a>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã hóa đơn</th>
                            <th>Tổng tiền</th>                        
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Tên Hoc Hàm</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{
                            var index = 0;
                        }
                        @foreach (var item in ViewBag.listTransaction)
                        {
                            index++;
                            var idModelDel = "exampleModalDel" + item.idTranSaction;
                            var idEx1 = "#exampleModalLabel" + item.idTranSaction;
                            <tr>
                                <td>@index</td>
                                <td>@item.idTranSaction</td>
                                <td>@item.amount</td>
                                <td>

                                    <button style="width:120px" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="@idEx1">
                                        Thêm chi tiết
                                    </button>
                                    <a style="width:120px"  class="btn btn-warning" href="/Order/DetailOrder?id=@item.idTranSaction">
                                        Xem chi tiết
                                    </a>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#@idModelDel" style="width:100px" class="btn btn-danger"> Xóa</button>
                                    <div class="modal fade" id="@idModelDel" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắn muốn xóa ?</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>

                                                <div class="modal-body">
                                                    Mã hóa đơn : @item.idTranSaction
                                                    <form action="/Order/Delete" method="post">
                                                        <input type="hidden" class="form-control" id="id" name="idTran" value="@item.idTranSaction">
                                                        <div class="modal-footer" style="margin-top: 20px">
                                                            <button style="width:100px" type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">
                                                                Đóng
                                                            </button>
                                                            <button style="width:100px" type="submit" class="btn btn-danger"> Xóa</button>

                                                        </div>

                                                    </form>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                            var idEx = "exampleModalLabel" + item.idTranSaction;
                            <!-- Modal Update-->
                            <div class="modal fade" id="@idEx" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog  modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Thêm chi tiết hóa đơn</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form enctype="multipart/form-data" action="/Order/AddDetail" method="post">
                                            

                                                    <div class="row" style="margin-bottom:20px">

                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Sản phẩm <span style="color:red">* </span>:</label>
                                                            <select  class="form-select" aria-label="Default select example" id="arrId" tabindex="8" name="product" required>
                                                                <option value="" selected>Chọn sản phẩm</option>
                                                                @foreach (var item1 in ViewBag.listPro)
                                                                {
                                                                    <option value="@item1.idProduct">@item1.name (Giá:@item1.cost VNĐ)</option>
                                                                }
                                                            </select>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Số lượng <span style="color:red">* </span>:</label><br />
                                                            <input type="text" class="form-control" id="tenphim" name="number" tabindex="1" autofocus required>
                                                            <input type="hidden" class="form-control" id="tenphim" name="idTran" tabindex="1" value="@item.idTranSaction"  required>
                                                        </div>
                                                    </div>
                                                <div class="modal-footer">
                                                    <button style="width:100px" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                    <button style="width:100px" type="submit" class="btn btn-primary">Thêm </button>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Modal Update-->
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>
<!-- Modal Add-->
<div class="modal fade" id="exampleModalAdd" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm hóa đơn </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="/Order/Add" method="post">
                    <div class="col">


                        <div class="row">

                            <div class="col-6">
                                <label for="category-film" class="col-form-label">Sản phẩm <span style="color:red">* </span>:</label>
                                <select onchange="getTotal()" multiple class="form-select" aria-label="Default select example" id="arrId" tabindex="8" name="arrId" required>
                                    <option value="" selected>Chọn sản phẩm</option>
                                    @foreach (var item1 in ViewBag.listPro)
                                    {
                                        <option value="@item1.idProduct">@item1.name (Giá:@item1.cost VNĐ)</option>
                                    }
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="category-film" class="col-form-label">Số lượng <span style="color:red">* </span>:</label><br />
                                <label for="category-film" class="col-form-label">Tổng tiền <span style="color:red">* </span>:</label>

                            </div>
                        </div>


                    </div>


                    <div class="modal-footer">
                        <button style="width:100px" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button style="width:100px" type="submit" class="btn btn-primary">Lưu </button>
                    </div>
                </form>
                <script>
                    function getTotal() {
                        var arrProduct = document.getElementById("arrId").value;
                        console.log(arrProduct);
                        $.ajax({
                            url: "/Order/getTotal",
                            type: "post",
                            data: {
                                sanpham: arrProduct,
                                id: idComment
                            },
                            success: function (data) {
                                console.log(data);
                            }
                        });

                    }
                </script>
            </div>

        </div>
    </div>

</div>



